.categoriesContainer {
  width: 100%;
  background-color: #f7f7f7;
  color: #383e43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.titleCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 85px 0px 59px 0px;
}
.titleCategories h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  padding-bottom: 12px;
}
.titleCategories p {
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

.categoriesContainer button {
  color: #383e43;
  border: none;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 36px 0px 66px 0px;
}

.categoriesContainer button:hover {
  color: #000000;
  cursor: pointer;
}

.categoryCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 96px;
  flex-wrap: wrap;
}
