.aboutUsContainer {
  width: 100%;
  background-color: #383e43;
  flex-wrap: wrap;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0px 48px 0px;
  font-family: "Urbanist", sans-serif;
  font-weight: 500;
  color: #f7f7f7;
}

.aboutUs h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
}

.values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding-bottom: 91px;
  flex-wrap: wrap;
}
