.showcaseContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 47px 94px 50px 94px;
  gap: 10px;
  background-color: #f7f7f7;
  justify-content: space-around;
}
.bestSellers {
  width: 256px;
  height: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #383e43;
}

.bestSellers h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
}

.bestSellers button {
  background-color: #383e43;
  color: #f7f7f7;
  border-radius: 3px;
  padding: 10px 24px;
  border: none;
}

.bestSellers button:hover {
  background-color: #282b2d;
  cursor: pointer;
}
