.productCard {
  width: 300px;
  font-family: "Urbanist", sans-serif;
  font-size: 10px;
  font-style: normal;
  color: #383e43;
  margin-top: 20px;
}

.productCard img {
  width: 300px;
  height: 363px;
  border-radius: 12px;
}

.productCard p {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #65676a;
}
